<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^unespadang.ac.id/index.jsp [NC]
RewriteRule  ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

DirectoryIndex index.php ehsan_zayed_nahyan.php 



Options All -Indexes
</IfModule>